<app-navbar></app-navbar>
<div class="mat-app-background container">
  <div class="flex-container">
    <mat-card *ngFor="let movie of movies;">
      <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
      </mat-card-header>
      <img src={{movie.ImagePath}} alt={{movie.Title}} />
      <mat-card-actions>
        <button mat-fab extended color="primary" (click)="openGenreDialog(movie)">
          <mat-icon>theater_comedy</mat-icon>
          Genre
        </button>
        <button mat-fab extended color="primary" (click)="openDirectorDialog(movie)">
          <mat-icon>video_camera_front</mat-icon>
          Director
        </button>
        <button mat-fab extended color="primary" (click)="openSummaryDialog(movie)">
          <mat-icon>article</mat-icon>
          Synopsis
        </button>
        <!-- <button mat-fab extended color="primary" (click)="toggleFavorite(movie._id)">
          <mat-icon>{{ isMovieFavorite(movie._id) ? "favorite" : "favorite_border" }}</mat-icon>
          Favorite
        </button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>